<div>
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;" id="navbardrop" data-toggle="dropdown">
                Projects
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item nav-link" href="javascript:;">Create</a>
                <a class="dropdown-item nav-link" href="javascript:;">List</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:;" id="navbardrop" data-toggle="dropdown">
                Consumers
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item nav-link" href="javascript:;">Create</a>
                <a class="dropdown-item nav-link" href="javascript:;">List</a>
            </div>
        </li>
    </ul>
</div>