<div class="log-form">
    <h2>Create your account</h2>
    <form>
        <input type="text" title="username" placeholder="Username" type="text" />
        <input type="password" title="companyName" placeholder="Company Name" type="password" />
        <input type="text" title="email" placeholder="Email Id" type="text" />
        <input type="password" title="password" placeholder="Password" type="password" />
        <button type="submit" class="btn">Sign In</button>
    </form>
    <a class="signup" href="javascript:;" routerLink="/login">Login</a>
</div>
<!--end log form -->